Year3 Games Tech Project Group 1/x64/Release/Year3 Ga.B985758F.tlog/Year3 Games Tech Project Group 1.lastbuildstate
x64/Release/Year3 Games Tech Project Group 1.iobj
*.ipdb
*.idb
Year3 Games Tech Project Group 1/x64/Debug/Year3 Ga.B985758F.tlog/CL.command.1.tlog
*.tlog